@font-face {
  font-family: 'Atures 300 Personal Use Only';
  src: url('../fonts/Atures300PersonalUseOnly-amxR.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }

@font-face {
  font-family: 'Atures 500 Personal Use Only';
  src: url('../fonts/Atures500PersonalUseOnly-GD6D.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }

  * {
  margin: 0;
  padding: 0;
}

.body::before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background: #000000;  background-image: url('../assets/background-img.png');

  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.keyboard-area {
  position: relative;
  z-index: 2;

  margin: 5em auto;
  min-width: 500px;
  max-width: 1000px;
  height: 42rem;

  font-family: "Atures 300 Personal Use Only", 'Comfortaa', sans-serif;;

  background: #373737;
  border: 4px solid #191919;
  outline:  7px solid #f7cd76;
  border-radius: 0.4em;
  box-shadow: 20px 25px 20px #191919, -20px 25px 20px #191919;
}

.keyboard-area__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0.7em 2em; 

  text-align: center;
  color: #f7f4a6;
}

.header__language {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5em;
  width: 2.5em;
  font-size: 1.4em;
  color: #191919;
  background: #f7cd76;
  border: 2px solid #191919;
  border-radius: 0.3em;
}

.header__name {
  margin: 0 0 0 15%;
  font-size: 2em;
}

.header__info {
  text-align: start;
  font-family: "Atures 500 Personal Use Only", 'Comfortaa', sans-serif;;
  font-size: 0.8em;
  line-height: 1.3em;
}

.info__text {
  padding: 0.6em 0;
}

.info__text_bottom-line {
    border-bottom: 1px solid #f7cd76;
}

.keyboard-area__textarea {
  display: block;
  width: 96%;
  height: 10em;
  margin: 0.1em auto 0.8em;
  padding: 0.5em;

  font-family: 'Comfortaa', sans-serif;
  font-size: 1.3em;
  color: #f7f4a6;

  background: #191919;
}

.keyboard__container {
  display: grid;
  grid-template-columns: 1fr auto auto auto auto auto auto auto auto auto auto auto auto 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 0.3em;

  width: auto;
  height: auto;
  margin: 0.5em;
}

.key {
  height: 3em;
  color: #c3c082;
  background: #191919;
  border: 2px solid #191919;
  border-radius: 0.3em;
  font-family: 'Comfortaa', sans-serif;


  transition: .2s;
}

.key:hover {
  color: #ffffff;
  border: 2px solid #b9b9b9;
}

.key:active {
  color: #191919;
  background: #c69fc4;
  border: 2px solid #b9b9b9;
}

.key_active {
  color: #191919;
  background: #c69fc4;
  border: 2px solid #b9b9b9;
}

.keyboard__key_small {
  width: 3em;
  font-size: 1.2em;
}

.keyboard__key_medium {
  width: 100%;
  font-size: 1.1em;
}

.keyboard__key_raw-1 {
  grid-row-start: 1;
}

.keyboard__key_raw-2 {
  grid-row-start: 2;
}

.keyboard__key_raw-3 {
  grid-row-start: 3;
}

.keyboard__key_raw-4 {
  grid-row-start: 4;
}

.key_position-cmn-l {
  grid-column-start: 3;
  grid-column-end: 5;
}

.key_position-spc {
  grid-column-start: 5;
  grid-column-end: 9;
}

.key_position-cmn-r {
  grid-column-start: 9;
  grid-column-end: 11;
}

.key_position-start {
  justify-self: end;
}

.key_position-end {
  justify-self: start;
}