* {
  margin: 0;
  padding: 0;
}

.keyboard-area {
  margin: 5em auto;
  max-width: 70rem;
  max-height: 40rem;

  background: #373737;
  border: 3px solid #191919;
  border-radius: 0.4em;
}

.keyboard-area__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0.7em 2em;

  text-align: center;
  color: #ffffff;
}

.header__name {
  align-self: center;
  font-size: 2em;
}

.header__info {
  text-align: start;
  font-size: 0.8em;
}

.textarea {
  display: block;
  width: 96%;
  height: 10em;
  margin: 0.5em auto;
  padding: 0.5em;
  font-size: 1.3em;
  color: #ffffff;
  background: #191919;
}

.keyboard__container {
  display: grid;
  grid-template-columns: 1fr auto auto auto auto auto auto auto auto auto auto auto auto 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 0.3em;

  width: auto;
  height: auto;
  margin: 0.3em;
}

.key {
  height: 3em;
  color: #b9b9b9;
  background: #191919;
  border: 2px solid #191919;
  border-radius: 0.3em;

  transition: .2s;
}

.key:hover {
  color: #ffffff;
  border: 2px solid #b9b9b9;
}

.key:active {
  color: #191919;
  background: #7b7b7b;
}

.keyboard__key_small {
  width: 3em;

  font-size: 1.2em;
}

.keyboard__key_medium {
  width: 100%;

  font-size: 1.3em;
}

.keyboard__key_raw-1 {
  grid-row-start: 1;
}

.keyboard__key_raw-2 {
  grid-row-start: 2;
}

.keyboard__key_raw-3 {
  grid-row-start: 3;
}

.keyboard__key_raw-4 {
  grid-row-start: 4;
}

.key_position-cmn-l {
  grid-column-start: 3;
  grid-column-end: 5;
}

.key_position-spc {
  grid-column-start: 5;
  grid-column-end: 9;
}

.key_position-cmn-r {
  grid-column-start: 9;
  grid-column-end: 11;
}

.key_position-start {
  justify-self: end;
}

.key_position-end {
  justify-self: start;
}